{{#location}}
<li data-markerid="{{markerid}}">
	<div class="list-label">{{marker}}</div>
	<div class="list-details">
		<div class="list-content">
			<div class="loc-name">{{name}}</div>
			<div class="loc-addr">{{address}}</div>
			<div class="loc-addr2">{{address2}}</div>
			<div class="loc-addr3">{{city}}{{#if city}},{{/if}} {{state}} {{postal}}</div>
			<div class="loc-phone">{{phone}}</div>
			<div class="loc-web"><a href="{{web}}">Store Page</a></div>
			{{#if distance}}
				<div class="loc-dist">{{distance}} {{length}}</div>
				<div class="loc-directions"><a href="https://maps.google.com/maps?saddr={{origin}}&amp;daddr={{address}} {{address2}} {{city}}, {{state}} {{postal}}" target="_blank">Directions</a></div>
			{{/if}}
		</div>
	</div>
</li>
{{/location}}
