.about {

  .hero {
    color: $light-primary;

    & > .bg {
      background: $gradient-grey;
    }

    .header-squeeze {
      margin-left: auto;
      margin-right: auto;
    }

    .hero__graphics {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .hero__rating {
      position: absolute;
      top: 90%;
      right: -60%;
      box-shadow: $shadow-std;
      border-radius: $border-radius;
    }

    .hero__label {
      position: absolute;
      box-shadow: $shadow-std;
      border-radius: $border-radius;
    }

    .hero__label--pt {
      width: 25%;
      top: 87%;
      left: 10%;
    }

    .hero__label--lh {
      width: 30%;
      top: 82%;
      left: 13%;
    }

    .hero__label--nl {
      display: none;
    }
  }

  .callout {
    color: $grey-primary;
    text-align: center;
  }

  .benefits {
    color: $light-primary;
    text-shadow: $shadow-text;

    & > .bg {
      background: $gradient-grey;
    }

    .img-chem {
      display: none;
    }

    .benefit-list {

      padding-top: 6rem;

      .benefit {
        list-style: none;
      }
    }
  }

  .benefits-bonus {
    text-align: center;

    .bg {
      box-shadow: $shadow-std;
    }

    .benefits-bonus__block {

      &:not(:last-of-type) {
        padding-bottom: 16rem;
      }
    }
  }

  .transition {
    text-align: center;
    margin-top: 4rem;
    padding-top: 6rem;

    .transition__bottom {
      font-weight: $font-weight-bold;
      padding-top: 2rem;
    }

    .transition__icon {
      display: none;
    }
  }

  .starbuds {
    background: $gradient-grey;
    color: $light-primary;
    box-shadow: $shadow-std;

    .starbuds__logo {
      width: 18rem;
      margin: auto;
      display: block;
    }

    .starbuds__group-top {
      padding: 8rem 0 4rem;
    }

    .starbuds__group-bottom {

      .starbuds__subgroup {
        padding: 4rem 0;

        &:not(:last-of-type) {
          border-bottom: 1px solid $accent-primary;

        }
      }

    }
  }

  .before-levels {
    text-align: center;

    .header-squeeze {
      margin: 0 auto;
    }
  }

  .levels {
    color: $light-primary;

    & > .bg {
      background: $gradient-grey;
    }

    .level {
      text-align: center;

      .level__title,
      .level__description {
        text-shadow: $shadow-text;
      }

      .level__title {
        margin-top: 1rem;
      }

    }
  }

  .green-standard {
    position: relative;
    color: $light-primary;
    text-shadow: $shadow-text;

    & > .bg {
      background: $gradient-green;
    }

    .green-standard__graphics {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;

      .green-standard_list-icon-container {
        position: absolute;
        transform: rotate($rotation-major);
        top: 80%;
        right: 10%;
      }

      .green-standard_list-icon {
        width: 6rem;
        height: auto;
        box-shadow: $shadow-std;
        border-radius: $border-radius-sm;
      }
    }
  }

}

@media (--xsmall) {
  .about {

    .hero {

      .hero__label--pt {
        left: 0%;
      }

      .hero__label--lh {
        left: 2%;
      }

      .hero__rating {
        position: absolute;
        right: -70%;
      }

    }

    .green-standard {

      .green-standard__graphics {

        .green-standard_list-icon-container {
          right: 0%;
        }

      }

    }

  }
}

@media (--small) {
  .about {

    .green-standard {

      .green-standard__graphics {

        .green-standard_list-icon-container {
          right: 0%;
          top: 75%;
        }

      }

    }

  }
}

@media (--medium) {
  .about {

    .hero {
      box-sizing: content-box;
      padding-bottom: 8rem;

      .hero__group {
        lost-utility: clearfix;
      }

      .hero__text {
        lost-column: 2/3;
        text-align: left;

        .header-squeeze {
          margin-left: 0;
        }

        .hero__logo {
          display: inline-block;
          width: 20rem;
          height: auto;
        }
      }

      .hero__rating {
        width: 33%;
        top: 95%;
        right: auto;
        left: -20%;
      }

      .hero__label--pt {
        width: 15%;
        top: 70%;
        left: 65%;
      }

      .hero__label--lh {
        width: 25%;
        top: 15%;
        left: 80%;
      }

      .hero__label--nl {
        display: inline-block;
        width: 33%;
        top: 30%;
        left: 67%;
      }
    }

    .callout {

      .callout__text {
        width: 40rem;
        margin: auto;
      }
    }

    .benefits {
      position: relative;

      .benefits__header {
        text-align: center;
        margin-bottom: 8rem;
      }

      .benefits__heading {
        margin-bottom: 0rem;
      }

      .benefits__group {
        lost-utility: clearfix;
      }

      .benefits__bonus,
      .benefits__list-container {
        display: block;
        lost-column: 1/2;
      }

      .benefits__bonus-block {

        &:not(:last-of-type) {
          padding-bottom: 6rem;
        }
      }

      .benefits__bonus-heading {
        position: relative;
      }

      .benefits__graphics {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .benefit-list {

        .benefit {
          position: relative;
        }
      }

      .img-chem {
        display: inline-block;
        position: absolute;
        width: 40%;
      }

      .img-chem--1 {
        top: 10%;
        left: 10%;
      }

      .img-chem--1 {
        top: 80%;
        left: 70%;
      }
    }

    .benefits-bonus {
      display: none;
    }

    .levels {

      .level {

        .level__description {
          lost-center: 60rem;
        }
      }
    }

    .transition {
      position: relative;

      .transition__graphics {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .transition__icon {
        position: absolute;
        left: -10rem;
        top: -10rem;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 50%;
        width: auto;
        display: inline-block;
      }

    }

    .starbuds {

      .starbuds__breakdown {
        display: block;
        margin: 1rem auto;
        width: 18rem;
        height: auto;
      }

      .starbuds__subgroup--points,
      .starbuds__point {
        display: block;
        margin-bottom: 6rem;
      }

      .starbuds__subgroup--points {
        padding-left: 12rem;
      }

      .starbuds__group-top,
      .starbuds__group-bottom {
        lost-utility: clearfix;

        .starbuds__subgroup {
          lost-column: 1/2 2 4rem;
        }
      }

      .starbuds__group-top {
        padding-bottom: 0;
      }

      .starbuds__group-bottom {

        .starbuds__subgroup {

          &:not(:last-of-type) {
            padding-right: 2rem;
            border: 0;
            border-right: 1px solid $accent-primary;
          }
        }

      }

    }

    .green-standard {

      .green-standard__group {
        lost-utility: clearfix;
      }

      .green-standard__text {
        lost-column: 1/2;
      }

      .green-standard__graphics {

        .green-standard_list-icon-container--1 {
          top: -15%;
          right: auto;
          left: -5%;
        }

        .green-standard_list-icon-container--2 {
          display: inline-block;
          top: -20%;
          right: auto;
          left: -15%;
        }

        .green-standard_list-icon--2 {
          width: 10rem;
        }
      }

      .gs-list-container {
        display: block;
        position: absolute;
        right: -5%;
        top: 10%;
        transform: rotate($rotation-minor);

        .gs-list {
          width: 100%;
        }
      }

    }

  }
}

@media (--medium-large) {
  .about {

    .levels {
      padding-bottom: 8rem;
    }
  }
}
@media (--large) {

  .about {

    .hero {

      .hero__text {
        lost-column: 1/2;
      }

      .hero__label--nl {
        top: 20%;
        left: 55%;
        width: 20%;
      }

      .hero__label--lh {
        width: 15%;
      }

      .hero__label--pt {
        left: 80%;
        width: 10%;
      }

      .hero__rating {
        top: 95%;
        left: 15%;
        width: 20%;
      }
    }

    .transition {

      .transition__text {
        lost-center: 60rem;
      }
    }

    .green-standard {

      .green-standard__graphics {
        z-index: -1;
      }

      .gs-list-container {
        right: 10%;
      }
    }
  }
}
