.franchise {

  .hero {
    color: $light-primary;
    text-shadow: $shadow-text;
    margin-bottom: 10rem !important;

    & > .bg {
      background: $gradient-grey;
    }

    .header-squeeze {
      margin-left: auto;
      margin-right: auto;
    }

    .hero__group {

    }

    .hero__graphics {
      position: relative;
      z-index: 0;
      bottom: 6rem;
    }

    .hero__map {
      lost-center: 30rem;
    }
  }

  .facts {
    text-align: center;
    z-index: 4;

    & > .bg {
      background: #fff;
    }

    .fact-container {
      padding: 4rem 0;

      .fact {
        padding-bottom: 8rem;

        .fact__before-value,
        .fact__value,
        .fact__after-value {
          font-size: 4.5rem;
          color: #C59929;
        }
      }
    }
  }

  .closer {
    color: $light-primary;
    margin-top: 4rem;

    & > .bg {
      background: $grey-tertiary;
    }

    .closer__group {

    }

    .closer__subgroup {

      &:not(:last-of-type) {
        padding-bottom: 6rem;
      }
    }

    .closer__footer {
      text-align: center;
      padding-top: 6rem;
    }

    .closer__form {
      padding-top: 4rem;

      .wpcf7-not-valid-tip {
        background-color: $grey-primary;
        display: block;
        padding: 1rem;
        border-radius: $border-radius-sm;
      }

      .screen-reader-response {
        display: none;
      }
    }

  }
}

@media (--medium) {
  .franchise {

    .hero {
      box-sizing: content-box;
      padding-bottom: 8rem;

      .hero__group {
        lost-utility: clearfix;
      }

      .hero__text {
        lost-column: 2/3;
        text-align: left;

        .header-squeeze {
          margin-left: 0;
        }

        .hero__logo {
          display: inline-block;
          width: 20rem;
          height: auto;
        }
      }

      .hero__graphics {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .hero__map {
        position: absolute;
        top: 15%;
        left: 60%;
        height: 80%;
        max-width: none;
      }
    }

    .facts {

      .fact-container {
        lost-utility: clearfix;

        .fact {
          lost-column: 1/2;
        }
      }

    }

    .closer {

      .closer__group {
        lost-utility: clearfix;
      }

      .closer__subgroup {
        lost-column: 1/2;
      }

      .closer__form {

        .wpcf7-form {
          lost-utility: clearfix;
          lost-center: 76rem;
        }

        .group {
          lost-column: 1/2 2 2rem;

          &.wide {
            lost-column: 1;
          }

          &.last {
            float: none;
            lost-center: 30rem;
          }
        }

        .wpcf7-response-output {
          lost-column: 1;
        }

      }
    }
  }
}

@media (--medium-large) {
  .franchise {

    .hero {

      .hero__map {
        height: 140%;
        top: -10%;
      }
    }

    .facts {
      position: relative;

      .facts__heading {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
      }

      .facts__graphics {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .facts__graphic {
        position: absolute;
        left: -25rem;
        top: -30rem;
        width: 50rem;
        height: auto;
      }
    }

    .closer {

      .closer__group {
        display: flex;
      }

      .closer__subgroup {
        padding-right: 4rem;

        &:not(:last-of-type) {
          padding-bottom: 0;
          border-right: 1px solid $accent-primary;
        }
      }
    }
  }
}

@media (--large) {
  .franchise {

    .hero {

      .hero__text {
        lost-column: 1/3;
      }

      .hero__map {
        left: 40%;
      }
    }
  }
}
