.green-standard {

  .hero {
    color: $light-primary;
    text-shadow: $shadow-text;

    & > .bg {
      background: $gradient-green;
    }

    .header-squeeze {
      margin-left: auto;
      margin-right: auto;
    }

    .hero__graphics {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .hero__list-icon-container {
      position: absolute;
      transform: rotate($rotation-major);
    }

    .hero__list-icon {
      width: 6rem;
      height: auto;
      box-shadow: $shadow-std;
    }

    .hero__list-icon-container--1 {
      top: 85%;
      left: calc(50% - 3rem);
    }

    .hero__list-icon--1 {
      border-radius: $border-radius-sm;
    }

    .hero__list-icon-container--2 {
      top: 120%;
      left: 80%;
      width: 10rem;
    }

    .hero__list-icon--2 {
      width: 10rem;
    }

    .hero__list-icon-container--3 {
      top: 100%;
      left: 5%;
      width: 4rem;
    }

    .hero__list-icon--3 {
      width: 4rem;
      border-radius: $border-radius-sm;
    }
  }

  .status-quo {
    color: $light-primary;

    & > .bg {
      background: $grey-secondary;
    }

    .status-quo__reasons-container {
      padding: 4rem 0;

      .reason {
        position: relative;
        background: $grey-tertiary;
        border-radius: $border-radius;
        box-shadow: $shadow-std;
        z-index: 2;
        margin-bottom: 4rem;

        & > .wrap {
          padding: 2rem;
          text-align: center;
        }
      }
    }


  }

  .community {
    color: $light-primary;
    text-shadow: $shadow-text;
    box-shadow: $shadow-std;

    & > .bg {
      background: $gradient-green;
    }
  }

  .gs {
    text-align: center;
    margin-top: 4rem;

    .gs__heading {
      width: 16rem;
      margin-left: auto;
      margin-right: auto;
    }

    .reasons {
      padding: 8rem 0 0;

      .reason {

        &:not(:last-of-type){
          padding-bottom: 12rem;
        }

      }
    }
  }

  .callout {
    text-align: center;
    color: $light-primary;
    text-shadow: $shadow-text;
    z-index: 3;

    & > .bg {
      background: $gradient-green;
    }
  }

  .sup-prod {
    color: $light-primary;
    text-shadow: $shadow-text;

    & > .bg {
      background: $gradient-grey;
    }

    .sup-prod__subgroup {
      padding: 4rem 0;

      &:not(:last-of-type) {
        border-bottom: 1px solid $accent-primary;
      }
    }
  }

  .stores {
    text-align: center;
    color: $light-primary;
    text-shadow: $shadow-text;

    & > .bg {
      background: $gradient-green;
    }

    .header-squeeze {
      margin-left: auto;
      margin-right: auto;
    }

    .rules {
      padding: 8rem 0;

      .rule {
        padding-bottom: 12rem;
      }
    }

    .more {
      display: none;
    }
  }
}

@media (--medium) {
  .green-standard {
    .hero {
      box-sizing: content-box;
      padding-bottom: 8rem;

      .hero__group {
        lost-utility: clearfix;
      }

      .hero__text {
        lost-column: 2/3;
        text-align: left;

        .header-squeeze {
          margin-left: 0;
        }

        .hero__logo {
          display: inline-block;
          width: 20rem;
          height: auto;
        }
      }

      .hero__graphics {

        .gs-list-container {
          position: absolute;
          right: -12.5%;
          top: 10%;
          transform: rotate($rotation-minor);
          display: block;

          .gs-list {
            width: 100%;
          }
        }
      }

      .hero__list-icon-container--1 {
        top: 10%;
      }

      .hero__list-icon-container--2 {
        left: 100%;
        top: 95%;
      }
    }

    .status-quo {
      text-align: center;

      .status-quo__heading {
        margin-bottom: 0;
      }

      .status-quo__reasons-container {
        display: flex;
        align-items: center;

        .reason {
          flex: 1;
          height: 25rem;
          margin: 0 0.5rem;
          display: inline-flex;
          align-items: center;

          .reason__number {
            display: inline-block;
            width: 8rem;
            height: 8rem;
            font-size: 5rem;
            line-height: 1;
            padding: 1rem;
            color: $accent-primary;
            border: 1px solid $accent-primary;
            border-radius: 100%;
            margin-bottom: 2rem;
          }
        }
      }

    }

    .community {
      position: relative;
      padding: 8rem 0;
      box-shadow: none;

      .community__group {
        lost-utility: clearfix;
      }

      .community__text {
        lost-column: 1/2;
      }

      .community__graphics {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .gs-list-container {
        display: block;
        position: absolute;
        right: -5%;
        top: -10%;
        transform: rotate($rotation-minor);

        .gs-list {
          width: 100%;
        }

        &.gs-list-container--mobile {
          display: none;
        }
      }



    }

    .gs {

      .gs__heading {
        width: auto;
      }

      .reasons {

        .reason {
          width: 50%;
          margin: auto;
        }
      }

      .gs__graphic {
        display: inline-block;
      }
    }

    .sup-prod {
      padding-bottom: 4rem;

      .sup-prod__group {
        lost-utility: clearfix;
      }
    }

    .stores {

      .stores__header {
        width: 40rem;
        margin: auto;
      }

      .header-squeeze {
        width: auto;
      }

      .rules {
        lost-utility: clearfix;

        .rule {
          lost-column: 1/2;
        }
      }
    }
  }
}

@media (--medium-large) {
  .green-standard {

    .gs {
      position: relative;

      .gs__body {
        width: 40rem;
        margin: auto;
      }

      .reasons {
        lost-utility: clearfix;

        .reason {
          lost-column: 1/3;
        }
      }

      .gs__graphics {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
      }

      .gs__graphic {
        position: absolute;
        top: -15rem;
        left: -20rem;
        height: 50rem;
        width: auto;
      }
    }

    .callout {

      .callout__body {
        width: 60rem;
        margin: auto;
      }
    }

    .sup-prod {

      .sup-prod__subgroup {
        lost-column: 1/2;

        &:not(:last-of-type) {
          padding-right: 4rem;
          border: 0;
          border-right: 1px solid $accent-primary;
        }
      }
    }

    .stores {
      position: relative;

      .stores__graphics {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        .img-chem {
          position: absolute;
          width: 40%;
          left: 0;
          top: 0;
        }
      }

      .img-chem {
        display: inline-block;
      }

    }
  }
}

@media (--large) {
  .green-standard {

    .hero {

      .hero__text {
        lost-column: 1/2;
      }

      .hero__graphics {

        .gs-list-container {
          right: 10%;
        }
      }


    }

    .status-quo {

      .status-quo__reasons-container {
        padding: 12rem 0;

        .reason {
          margin: 0 4.5rem;
        }
      }

      .status-quo__footer {
        lost-center: 60rem;
      }
    }

    .community {

      .gs-list-container {
        right: 10%;
      }
    }

    .stores {

      .rules {

        .rule {

          .rule__text {
            lost-center: 33rem;
          }

        }
      }

    }


  }
}
