.home {

  .hero {

    & > .wrap {
      position: relative;
      z-index: 1;
    }

    .hero__logo {
      width: 28rem;
      height: auto;
      padding-bottom: 2rem;
    }

    .hero__subheading {
      width: 23rem;
      margin: 0 auto;
    }

    .hero__graphics {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;

      .img-chem {
        position: absolute;
      }

      .img-chem--1 {
        right: -8rem;
      }

      .img-chem--2 {
        top: 65%;
        left: 0;
      }

    }
  }

  .about {
    position: relative;
    margin-bottom: 20rem;

    & > .wrap {
      padding-bottom: 0 !important;
    }

    .about__graphics {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .about__rating {
      position: absolute;
      top: 110%;
      left: 0;
      right: 0;
      box-shadow: $shadow-std;
      border-radius: $border-radius;
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
    }

    .about__label {
      position: absolute;
      box-shadow: $shadow-std;
      border-radius: $border-radius-sm;
      display: none;
    }

    .about__label--pt {
      width: 8%;
      height: auto;
      right: 10%;
      top: 40%;
    }

    .about__label--lh {
      width: 15%;
      height: auto;
      right: 10%;
      top: 75%;
    }

    .about__label--nl {
      width: 20%;
      height: auto;
      right: 22%;
      top: 45%;
    }
  }

  .green-standard {
    color: $light-primary;
    text-shadow: $shadow-text;
    text-align: center;

    & > .bg {
      background: $gradient-green;
    }

    .green-standard__group {

      .green-standard__graphics {

        & > *:not(.icon-list-sm--below) {
          display: none;
        }
      }
    }

    .green-standard__graphics {
      z-index: -1;
    }

    .icon-list-sm {
      position: absolute;
      box-shadow: $shadow-std;
    }

    .icon-list-sm--below {
      right: -4rem;
      bottom: -12rem;
    }
  }

  .franchise {
    position: relative;

    .franchise__text {
      margin-bottom: 20rem;
    }

    .franchise__graphics {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .franchise__map-bg {
      content: '';
      position: absolute;
      top: 60%;
      left: -50%;
      right: 0;
      height: 80rem;
      width: 200%;
      margin: 0 auto;
      background: $grey-secondary;
      border-radius: 100%;
      z-index: 0;
    }

    .franchise__map-image {
      position: absolute;
      top: 70%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 25rem;
    }
  }

}

@media (--medium) {
  .home {

    .hero {

      .hero__graphics {

        .img-chem--1 {
          right: 5%;
        }

        .img-chem--2 {
          top: 65%;
          left: 5%;
        }
      }

    }

    .about {

      .about__group {
        lost-utility: clearfix;
      }

      .about__text {
        lost-column: 1/2;
      }

      .about__label {
        display: inline-block;
      }
    }

    .green-standard {
      position: relative;
      padding-top: 4rem;
      padding-bottom: 4rem;
      z-index: 4;

      .green-standard__group {
        lost-utility: clearfix;

        .green-standard__graphics {

          & > *:not(.icon-list-sm--below) {
            display: block;
          }
        }
      }

      .green-standard__graphics {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .gs-list-container {
          position: absolute;
          top: -5%;
          left: -5%;
          transform: rotate($rotation-minor);

          .gs-list {
            width: 100%;
          }
        }

        .icon-list-sm--1 {
          left: -20%;
          top: -10%;
          width: 8%;
          border-radius: $border-radius-sm;
        }

        .icon-list-sm--2 {
          left: 80%;
          top: 90%;
          width: 10%;
          border-radius: $border-radius-sm;
        }

        .icon-list-sm--3 {
          left: 110%;
          top: -5%;
          width: 10%;
          border-radius: $border-radius-sm;
        }

        .icon-list-sm--below {
          right: -14rem;
          bottom: -22rem;
        }
      }

      .green-standard__text {
        text-align: right;
        lost-column: 1/2;

        .gs-list {
          display: none;
        }
      }
    }

    .franchise {
      position: relative;
      margin: 8rem auto;

      .franchise__group {
        lost-utility: clearfix;
      }

      .franchise__text {
        lost-column: 1/2;
      }

      .franchise__map-bg,
      .franchise__map-image {
        position: absolute;
        left: 50%;
      }

      .franchise__map-bg {
        top: 0%;
        width: 90rem;
        height: 90rem;
      }

      .franchise__map-image {
        top: 25%;
        left: 60%;
        width: 50%;
      }
    }

  }


}

@media (--medium-large) {
  .home {

    .hero {

      .hero__subheading {
        width: 40rem;
      }
    }
  }
}

@media (--large) {
  .home {

    .hero {

      .hero__graphics {

        .img-chem--1,
        .img-chem--2 {
          width: 33%;
        }

        .img-chem--1 {
          right: -10%;
        }

        .img-chem--2 {
          left: -5%;
        }
      }
    }

    .about {

      .about__text {
        lost-column: 1/3;
      }

      .about__rating {
        top: 105%;
        max-width: 50rem;
      }

      .about__label--pt {
        top: 25%;
        left: 85%;
        width: 15%;
      }

      .about__label--lh {
        top: 70%;
        left: 90%;
        width: 20%;
      }

      .about__label--nl {
        top: 35%;
        width: 25%;
      }
    }

    .green-standard {

      .green-standard__text {
        lost-column: 1/3 2;
      }

      .green-standard__graphics {

        .gs-list-container {
          left: 15%;
        }
      }
    }

    .franchise {

      .franchise__text {
        lost-column: 1/3;
      }

      .franchise__map-image {
        width: 60%;
      }
    }
  }
}
