.locations {

  .bh-sl-map {
    height: 25rem;
    border-radius: $border-radius;
  }

  .locator {
    position: static;

    & > .wrap {
      max-width: none !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .layer-top {
      position: relative;
      z-index: 2;
    }

    .locator__header {
      padding: 1rem;
      width: auto;
      margin: auto;
      display: block;
    }

    .locator__heading {
      margin-bottom: 1rem;
    }

    .bh-sl-container {
      padding: 0;

      .bh-sl-form-container {
        float: none;
        clear: none;
        margin-top: 0;
        display: inline-block;
        width: 100%;

        #bh-sl-user-location {
          position: relative;
          width: 100%;
        }

        #bh-sl-address {
          border-left: 0;
          border-top: 0;
          border-right: 0;
          border-radius: 0;
          box-shadow: none;
        }

        .form-input {
          float: none;
          display: inline-block;
          margin-top: 0;
          width: 80%;

          input {
            margin: 0;
          }
        }
      }

      .bh-sl-map-container {
        margin-top: 0;

        & > .wrapper {
          padding: 1rem;
        }

        .bh-sl-loc-list {
          width: 100%;
          height: 40rem;

          ul {

            li {
              margin-left: 0;
            }

          }
        }
      }

      button {
        position: relative;
        width: 10%;
        float: right;
        margin-top: 1rem;
        padding: 0.8rem 1.2rem;
      }
    }

  }

}

@media (--medium) {
  .locations {

    .bh-sl-map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .locator {

      .locator__header {
        background-color: $light-primary;
        border-radius: $border-radius;
        box-shadow: $shadow-std;
        width: 30rem;
      }

      .bh-sl-container {

        button {
          margin-top: 0;
        }

        .bh-sl-form-container {

          #bh-sl-address {
            width: 100%;
          }
        }

      }

      .bh-sl-map-container {
        float: right;
        width: 40rem;
        padding-top: 15rem;
        padding-right: 2rem;

        & > .wrapper {
          background-color: $light-primary;
          border-radius: $border-radius;
          box-shadow: $shadow-std;
        }
      }

    }
  }
}
