.single-locations {
  background: $gradient-green;

  .back {
    padding: 8rem 2rem 0;
  }

  .location {
    padding: 2rem 0 4rem;

    & > .wrap {
      padding: 2rem;
      box-shadow: $shadow-std;
      border-radius: $border-radius;
      background: $light-primary;
    }

    .location__name {
      margin-bottom: 0rem;
    }

    .location__coming-soon {
      color: #ccc;
    }

    .location__map {
      height: 20rem;
      margin: 2rem 0;
    }

    .location__group {
      padding-top: 3rem;
    }

    .location__description {

      p {
        margin-bottom: 2rem;
      }
    }

    .location__details {
      margin-bottom: 6rem;
    }

    .location__hours {
      max-width: 30rem;
    }

    .location__time-wrapper {
      float: right;
    }
  }
}

@media (--medium) {

  .single-locations {

    .location {

      .location__map {
        height: 30rem;
      }

    }
  }

}

@media (--medium-large) {
  .single-locations {

    .location {

      .location__group {
        lost-utility: clearfix;
      }

      .location__info {
        lost-column: 2/5 2;
      }

      .location__description {
        lost-column: 3/5 2;
      }

      .location__map {
        height: 40rem;
      }

      .location__description {
        padding-right: 1rem;
        border-right: 1px solid rgba($grey-primary, 0.3);
      }


    }
  }
}

@media (--large) {
  .single-locations {

    .location {

      & > .wrap {
        lost-center: 1000px !important;
      }
    }
  }
}
