<footer class="footer" itemscope itemtype="//schema.org/WPFooter">
  <div class="wrap">
    <img class="footer__logo" src="{{site.theme.link}}/dist/img/logo-full-light.svg" alt="Starbuds Logo">
    <div class="footer__detail">
      <small class="footer__copyright">Starbuds Copyright {{"now"|date('Y') | trim}}</small>
    </div>
    <div class="footer__social-container">
      {% for profile in profiles %}
      <div class="footer__social">
        <a class="footer__social-link" href="{{profile.link}}" target="_blank">
          <i class="footer__social-icon fa fa-{{profile.icon}}"></i>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="footer__to-top">
      <a class="footer__to-top-link" href="#top">back to top</a>
    </div>
  </div>
</footer>
