<div class="gs-list{% if large %} gs-list--large{% endif %} {{classes}}">
  <div class="layer-top">
    <div class="wrap">
      <span class="gs-list__heading">The Green Standard</span>
      <ul class="gs-list__items">
        <li class="gs-list__item">
          <span class="gs-list__item-name plus">
            Increasing local economy and jobs
          </span>
        </li>
        <li class="gs-list__item">
          <span class="gs-list__item-name plus">
            Additional revenue
          </span>
        </li>
        <li class="gs-list__item">
          <span class="gs-list__item-name plus">
            Better use of resources
          </span>
        </li>
        <li class="gs-list__item">
          <span class="gs-list__item-name plus">
            Safe access to medicine
          </span>
        </li>
      </ul>
    </div>
  </div>
  {% if large %}
  <div class="layer-bottom"></div>
  {% endif %}
</div>
