{% if menu %}
	<i class="fa fa-bars menu-toggle"></i>
	<ul class="menu-main">
	{% for item in menu %}
		<li class="{{item.classes | join(' ')}}">
			<a href="{{item.get_link}}" target="{{ item.is_external ? '_blank' : '_self' }}"><span class="menu-item-title">{{item.title}}</span></a>
			{% include "partials/_submenu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
