<header class="header {% if post.slug != 'home' and post.slug != 'locations' and post.slug is not empty %}light{% else %}dark{% endif %}" itemscope itemtype="//schema.org/WPHeader">
  {% block header %}
    <div class="wrapper">
      <div class="title-area">
        <div class="logo">
          <a class="logo-link" href="/" rel="home">
            <img class="logo-img-dark" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="{{site.name}} Logo" />
            <img class="logo-img-light" src="{{site.theme.link}}/dist/img/logo-icon-light.svg" alt="{{site.name}} Logo" />
          </a>
        </div>
      </div>
      <nav class="nav-main" role="navigation" itemscope itemtype="//schema.org/SiteNavigationElement">
        {% include "partials/_menu.twig" with {'menu': menu.get_items} %}
      </nav>
    </div>
  {% endblock %}
</header>
