{% extends "partials/_tease.twig" %}

{% block content %}
	{% if post.thumbnail.src %}
	<div class="tease-post__image-container">
		<a class="tease-post__image-link" href="{{post.link}}">
			<img class="tease-post__image" src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}"/>
		</a>
	</div>
	{% endif %}
	<div class="tease-post__content-container">
		<h2 class="tease-post__title">
			<a class="tease-post__link" href="{{post.link}}">
				{{post.title}}
			</a>
		</h2>
		<p class="tease-post__excerpt">{{post.get_preview(40)}}</p>
	</div>
{% endblock %}
