<div class="verify">
  <div class="verify__container">
    <div class="verify__overlay"></div>
    <div class="verify__outer">
      <div class="verify__inner">
        <img class="icon-logo verify__icon" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Starbuds Icon">
        <p class="large verfiy__question">Are you over 19?</p>
        <div class="verify__buttons">
          <a class="btn-std verify__yes" href="#" onClick="enterSite()">Yes</a>
          <a class="btn-alt verify__no" href="//google.ca">No</a>
        </div>
      </div>
    </div>
  </div>
</div>
