@keyframes floating-effect {
  0%, 100% {
    transform: translate(0rem,0rem) rotate(-1.5deg);
  }

  50% {
    transform: translate(0rem,1rem) rotate(1.5deg);
  }

}

.floating {
  transform: translate(0rem,0rem) rotate(-1.5deg);
  animation: floating-effect 6s infinite forwards;
  animation-timing-function: ease-in-out;
}

@keyframes floating-up-down-effect {
  0%, 100% {
    transform: translate(0rem,0rem);
  }

  50% {
    transform: translate(0rem,1rem);
  }

}

.floating-up-down {
  transform: translate(0rem,0rem);
  animation: floating-up-down-effect 10s infinite forwards;
  animation-timing-function: ease-in-out;
}

@keyframes breathe-up-down-effect {
  0%, 100% {
    transform: translate(0rem,0rem) scale(1);
  }

  50% {
    transform: translate(0rem,1rem) scale(1.05);
  }

}

.breathe-up-down {
  transform: translate(0rem,0rem);
  animation: breathe-up-down-effect 10s infinite forwards;
  animation-timing-function: ease-in-out;
}

.anim {
  opacity: 0;
}

.anim--fade-in {
  opacity: 1;
}

.text-anim {
  opacity: 0.5;
  transform: translateY(1rem);
  transition: 0.2s;
}

.text-anim--fade-in {
  opacity: 1;
  transform: translateY(-1rem);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}
