.footer {
  position: relative;
  width: 100vw;
  text-align: center;
  padding: 3rem;
  background: $grey-secondary;
  z-index: 1;
  color: $light-primary;

  .wrap {
    padding: 2rem 0;
  }

  .footer__logo {
    display: block;
    width: 15rem;
    margin: 0 auto 1rem;
  }

  .footer__detail {

  }

  .footer__copyright {
    text-transform: none;
  }

  .footer__social-container {
    padding: 1rem;
    lost-center: 30rem;
  }

  .footer__social {
    display: inline-block;
  }

  .footer__social-link {
    padding: .5rem;

    &:hover,
    &:active,
    &:focus {
      color: $light-primary;
    }
  }

  .footer__social-icon {
    font-size: 2.2rem;
  }

  .footer__to-top-link {
    font-size: 1rem;
    color: $grey-primary;
  }


}
