input,
select,
textarea {
	border: 0;
	background-color: $light-primary;
	color: $grey-primary;
	padding: 1.6rem;
	width: 100%;
	border-radius: $border-radius;
	box-shadow: $shadow-std;
	margin-bottom: 1.5rem;
	font-family: $font-body;
	line-height: 1.3;
}

textarea {
	min-height: 20rem;
}

input:focus,
textarea:focus {
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::placeholder {
	color: rgba($grey-primary,.6);
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}
