/* ## Box Sizing
--------------------------------------------- */

html,
input[type="search"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	transition: 0s;
}

/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

body {
	background-color: $light-primary;
	color: $dark-primary;
  font-family: $font-body;
	font-size: 1.7rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body.dated {
	display: block;
	height: 100%;
}

div:focus,
div:active,
section:active,
section:focus {
	outline: 0;
	-webkit-appearance: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}


a,
a:active,
a:visited,
-webkit-link {
	color: $link-primary;
  text-decoration: none;
}

a:hover,
a:focus {
	color: $link-secondary;
	text-decoration: none;
}

p {
	line-height: 1.8;
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

main {
	section {
		ul {
			li {
		  list-style-type: disc;
		  margin-left: 2rem;
			page-break-inside: avoid;
			break-inside: avoid;
			}
		}
		ol {
			li {
			  list-style-type: decimal;
			  margin-left: 2rem;
			}
		}
	}
}

li {
	list-style-type: none;
}

hr {
	clear: both;
	margin: 1em 0;
	margin-bottom: 3.25rem;
	border-collapse: collapse;
	max-width: 27%;
	border-color: #000;
	border-width: 0;
	border-bottom-width: 3px;
}

b,
strong {
	font-weight: $font-weight-bold;
}

small {
	font-size: 1.2rem;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	font-size: 3rem;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

/* ## Headings
--------------------------------------------- */

h1,
.xlarge,
h2,
.large,
h3,
.medium,
h4,
.small,
h5,
.xsmall,
h6,
.xxsmall {
	font-weight: $font-weight-bold;
	margin-top: 0;
	font-family: $font-heading;
	line-height: 1.6;
}

h1,
.xlarge {
	font-size: 2rem;
	margin-bottom: 3.5rem;
}

h2,
.large {
	font-size: 2rem;
	margin-bottom: 2.6rem;
}

h3,
.medium {
	font-size: 2rem;
	margin-bottom: 2rem;
}

h4,
.small {
	font-size: 2rem;
	margin-bottom: 2.75rem;
}

h5,
.xsmall {
	font-size: 2rem;
}

h6,
.xxsmall {
	font-size: 2rem;
}

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

figure {
	margin: 0;
}

/* ## Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
	word-break: break-word;
}

td,
th {
	text-align: left;
}

td {
	padding: 0;
	line-height: 1.8;
}

th {
	padding: 0.6rem;
}


/* # DRY
------------------------------------------------------------------------------------------------------------------------------*/

.medium-up--show {
	display: none;
}


.icon-arrow {
	height: 4rem;
	width: 4rem;
}

.icon-logo {
	height: 6.5rem;
	width: 6.5rem;
	margin-bottom: 3rem;
}

.icon-teardrop {
	width: 1.75rem;
	height: auto;
	margin: 0 0.15rem;
}

.icon-list-sm {
	width: 12rem;
	height: auto;
	border-radius: $border-radius;
}

.line-vertical {
	height: 8rem;
	margin: 4rem 0;
}

.img-chem {
	width: 20rem;
	height: auto;
}

.color-green {
	color: #446E44;
}

.header-squeeze {
	width: 25rem;
}

.plus {
	position: relative;
	display: inline-block;
	padding: 2rem 0 2rem 4rem;

	&::before {
		content: '';
		position: absolute;
		left: 1rem;
		top: 0;
		bottom: 0;
		background-image: url('/wp-content/themes/starbuds/dist/img/icon-plus-green.svg');
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 1rem;
		margin-top: auto;
		margin-bottom: auto;
	}

	&.plus--alt {

		&::before {
			background-image: url('/wp-content/themes/starbuds/dist/img/icon-plus-yellow.svg');
		}
	}
}

.skew {
	position: relative;

	&.pull-up {
		margin-top: -4rem;
	}

	&.pull-down {
		margin-top: 4rem;
	}

	& > .bg {
		position: absolute;
		top: -4.5rem;
		left: 0;
		width: 100%;
		height: calc(100% + 9rem);
		transform: skewY(10deg);
		z-index: 0;
	}

	& > .wrap,
	& > .wrap + * {
		position: relative;
		z-index: 1;
	}

	&.hero {

		& > .bg {
			height: calc(120% + 9rem);
      top: -16.5rem;
		}
	}

	&:last-child {

		& > .bg {
			height: 200%;
		}
	}
}

.verify {
	display: none;

	.verify__container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		z-index: 10;
	}

	.verify__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($dark-primary, 0.95);
	}

	.verify__outer {
		position: relative;
		z-index: 10;
		width: 30rem;
		height: 20rem;
		margin: auto;
	}

	.verify__inner {
		padding: 2rem 1rem;
		background-color: $light-primary;
		border-radius: $border-radius;
		box-shadow: $shadow-std;
		text-align: center;
	}

	.verfiy__question {
		margin-bottom: 0;
	}

	.verify__yes,
	.verify__no {
		margin-top: 1rem;
		border: 0;
	}


	.verify__icon {
		margin-bottom: 0;
	}
}

.hero {
	position: relative;
	text-align: center;
	height: 50rem;
	z-index: 3;

	.hero__subheading {
		font-size: 2.0rem;
	}

	.icon-arrow {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 100%;
		box-shadow: $shadow-std;
	}

	& > .wrap {
		.icon-arrow {
			bottom: 4rem;
		}
	}
}

.gs-list {
	margin: 4rem auto;
	text-shadow: none;
	color: $dark-primary;
	width: 28rem;
	height: auto;
	position: relative;

	& > .layer-top {
		background: $light-primary;
		border: $stroke-width solid $accent-tertiary;
		border-radius: $border-radius-sm;
		box-shadow: $shadow-std;
		position: relative;
		z-index: 2;

		& > .wrap {
			background: $light-primary;
			padding: 3rem 3rem 2rem;
		}

	}

	& > .layer-bottom {
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
		width: 100%;
		height: 100%;
		z-index: 1;
		border-radius: $border-radius-sm;
		border: $stroke-width solid $accent-tertiary;
		background: $light-primary;
		box-shadow: $shadow-std;
	}

	.gs-list__heading {
		text-transform: uppercase;
		color: $accent-tertiary;
		font-weight: $font-weight-bold;
	}

	.gs-list__items {
		text-align: left;
		margin-top: 1.5rem;
	}

	.gs-list__item {
		list-style: none;
		margin-left: 0;
		border-bottom: 1px solid #E2E2E2;

		.gs-list__item-name {
			font-size: 1rem;
			font-weight: $font-weight-bold;
		}

		&:last-of-type {
			border-bottom: none;
		}
	}
}

.graphics-container {
	max-width: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

main {
	position: relative;
	overflow-x: hidden;
	& > .content-wrapper {
		overflow-y: hidden;
		overflow-x: hidden;
		& > section {
	    background-size: cover;
	    background-position: center;
			& > .wrap {
				padding: 8rem 2rem;
				lost-center: 320px;

				&.wrap--tall {
					padding-top: 14rem;
					padding-bottom: 14rem;
				}
			}

			&.hero {
				margin-top: 4rem;
				margin-bottom: 4rem;
				& > .wrap {
					padding-top: 8rem;
					padding-bottom: 8rem;
				}

				& + section {
					margin-top: -4rem;
				}
			}
		}
	}
	#sidebar {
		& > .wrap {
			padding: 10rem 8rem;
		}
	}
}

@media (--small) {
	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 375px;
					padding: 8rem 2rem;
				}
			}
		}
	}
}

@media (--medium) {

	.medium-up--show {
		display: inline-block;
	}

	h1,
	.xlarge {
		font-size: 2.6rem;
	}

	h2,
	.large {
		font-size: 2.2rem;
	}

	.prefix-icon {
		position: relative;

		&::before {
			content: '';
			background-image: url('/wp-content/themes/starbuds/dist/img/logo-icon-dark.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			position: absolute;
			height: 5rem;
			width: 5rem;
			left: -7rem;
			top: -1rem;
			bottom: 0;
			margin-top: 0;
			margin-bottom: 0;
		}

		&.prefix-icon--light {

			&::before {
				background-image: url('/wp-content/themes/starbuds/dist/img/logo-icon-light.svg');
			}
		}
	}

	.img-chem {
		width: 25%;
	}

	.hero {

		.hero__logo {
			padding-bottom: 3rem;
		}
	}

	.gs-list {

		.gs-list__heading {
			font-size: 2rem;
		}

		.gs-list__item {

			.gs-list__item-name {
				font-size: 1.3rem;
			}
		}
	}

	.graphics-container {
		max-width: 990px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}

	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 640px;
					padding: 10rem 2rem;
				}
			}
		}
	}
}

@media (--medium-large) {

	.hero {
		padding-top: 2rem;
	}

	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 800px;
					padding: 10rem 2rem;
				}
			}
		}
	}
}

@media (--large) {
	html {
		font-size: 70%;
	}

	.skew {
		position: relative;

		& > .bg {
			transform: skewY(5deg);
		}
	}

	main {
		& > .content-wrapper {
			& > section {
				& > .wrap {
					lost-center: 1200px;
					padding: 10rem 2rem;
				}
			}
		}
	}
}


@media (--large) {
	body {
		font-size: 1.75rem;
	}
}
