/* Fonts */
$font-heading: 'Montserrat', Helvetica, sans-serif;
$font-body: 'Montserrat', Arial, sans-serif;

/* Width Variables */
$width-xsmall: 414px;
$width-small: 540px;
$width-medium: 750px;
$width-medium-large: 990px;
$width-large: 1400px;
$width-xlarge: 1800px;


/* Media Queries */
@custom-media --xsmall (min-width: 414px);
@custom-media --small (min-width: 540px);
@custom-media --medium (min-width: 750px);
@custom-media --medium-large (min-width: 990px);
@custom-media --large (min-width: 1400px);
@custom-media --xlarge (min-width: 1800px);

/* Media Queries */
/*
@custom-media --xsmall (min-width: $width-xsmall);
@custom-media --small (min-width: $width-small);
@custom-media --medium (min-width: $width-medium);
@custom-media --medium-large (min-width: $width-medium-large);
@custom-media --large (min-width: $width-large);
@custom-media --xlarge (min-width: $width-xlarge);
*/

/* Colors */
$main-primary: #000;
$main-secondary: #ccc;

$accent-primary: #DECA7F;
$accent-secondary: #84B742;
$accent-tertiary: #84B742;
$accent-quaternary: #DDB74B;

$grey-primary: #5D5D5D;
$grey-secondary: #3A3B3E;
$grey-tertiary: #313131;

$light-primary: #fff;
$dark-primary: #3D3D3D;

$menu-primary: $main-primary;
$menu-secondary: $main-primary;

$link-primary: $accent-primary;
$link-secondary: $accent-secondary;

/* Backgrounds */
$gradient-green: linear-gradient(to right, #1b381b 0%, #639663 100%);
$gradient-grey: linear-gradient(to bottom, #3a3b3e 0%,#111112 100%);

/* Weights */

$font-weight-regular: 400;
$font-weight-bold: 500;
$font-weight-black: 600;

/* Other */

$border-radius: 1rem;
$border-radius-sm: 0.5rem;

$rotation-minor: 2deg;
$rotation-major: 7deg;

$stroke-width: 0.4rem;

$shadow-std: 0rem 0.3rem 1rem 0rem rgba(0,0,0, 0.3);
$shadow-text: 0rem 0.3rem .5rem rgba(0,0,0, 0.3);
