.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 4;
  color: $menu-primary;

  .wrapper {
    display: flex;
    align-items: center;
  }

  .title-area {
    width: auto;
    text-align: center;
    .logo {
      font-family: $font-heading;
      text-align: center;
      .logo-link {
        img {
          height: 4rem;
          width: 4rem;
          display: none;
        }
      }
    }

    .description {
      font-family: $font-heading;
      font-weight: bold;
      font-style: italic;
    }
  }


  .nav-main {
    margin-left: auto;
    ul {
      background: $light-primary;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: calc(100% - 4rem);
      margin-left: auto;
      margin-right: auto;
      padding: 2rem 2rem 3rem;
      border: none;
      box-shadow: $shadow-std;
      border-radius: $border-radius;

      display: none;
      li {
        text-align: left;
        list-style-type: none;
        a {
          display: inline-block;
          width: 100%;
          padding: 1rem;
          border-bottom: 0.1rem solid rgba($grey-secondary, 0.1);
          text-transform: uppercase;
          color: $dark-primary;
        }

        &:last-of-type {

          a {
            border-bottom: none;
          }
        }
      }
    }
  }

  &.light {
    .logo-img-light {
      display: inline-block !important;
    }
    .menu-toggle {
      color: $light-primary;
    }
  }

  &.dark {
    .logo-img-dark {
      display: inline-block !important;
    }
  }
}

@media (--medium) {
  .header {

    .nav-main {

      .menu-main {
        width: 50%;
        margin-right: 2rem;
      }
    }
  }
}

@media (--medium-large) {
  .header {
    .nav-main {
      margin-left: auto;
      .menu-toggle {
        display: none !important;
      }
      ul {
        &.menu-main {
          display: inline-block !important;
          box-shadow: none;
          border-radius: 0;
        }
        &[class*="menu"] {
          position: relative;
          background: rgba(0,0,0,0);
          padding: 0;
          display: inline-block !important;
          border: none;
          width: auto;
          margin-right: auto;
          li {
            display: inline-block;
            &.menu-item-has-children {
              position: relative;
              &:hover {
                & > ul.menu-submenu {
                  opacity: 1;
                  display: inline-block;
                }
              }
            }
            &.current-menu-item {
              .menu-item-title {
                padding-bottom: 1rem;
                border-bottom: 2px solid $accent-primary;
              }
            }
            a {
              border: none;
              padding: 2rem 2.5rem;
              font-size: 1.4rem;
              width: auto;
            }
          }
        }
        &.menu-submenu {
          opacity: 0;
          display: none;
          position: absolute;
          background: $light-primary;
          width: 20rem;
          li {
            width: 100%;
            a {
              text-align: center;
              width: 100%;
              padding: 1rem;
            }
          }
        }
      }
    }

    &.light {
      .menu-item-title {
        color: $light-primary;
      }
    }
  }
}
