{% extends "base.twig" %}

{% block content %}
	<section class="intro">
		<div class="wrap">
			<h1>{{title}}</h1>
		</div>
	</section>
	<section class="posts">
		<div class="wrap">
			{% for post in posts %}
				{% include ['partials/_tease-'~post.post_type~'.twig', 'partials/_tease.twig'] %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
