{% extends "base.twig" %}

{% block content %}
<section class="hero skew">
  <div class="bg"></div>
  <div class="wrap">
    <div class="hero__group">
      <div class="hero__text">
        <img class="hero__logo" src="{{site.theme.link}}/dist/img/logo-full-light.svg" alt="Starbuds Logo" hidden>
        <h1 class="header-squeeze large">{{post.hero_heading}}</h1>
        <p>{{post.hero_subheading}}</p>
      </div>
    </div>
  </div>
  <div class="hero__graphics">
    <img class="hero__map" src="{{site.theme.link}}/dist/img/map.svg" alt="">
  </div>
  <img class="icon-arrow" src="{{site.theme.link}}/dist/img/arrow-down-light.svg" aria-hidden="true">
</section>
<section class="facts skew">
  <div class="bg"></div>
  <div class="wrap">
    <div class="facts__group">
      <div class="facts__text">
        <h2 class="facts__heading">{{post.facts_heading}}</h2>
        <div class="fact-container">
          {% for item in post.get_field('facts') %}
            <div class="fact">
              <span class="fact__before-value">{{item.before_value}}</span>
              <span class="fact__value">{{item.value}}</span>
              <span class="fact__after-value">{{item.after_value}}</span>
              <p class="fact__description">{{item.description}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="facts__graphics" hidden>
    <img class="facts__graphic" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Starbuds icon" aria-hidden="true">
  </div>
</section>
<section class="closer skew">
  <div class="bg"></div>
  <div class="wrap">
    <div class="closer__group">
      <div class="closer__subgroup">
        <p>{{post.bonus_block_1}}</p>
      </div>
      <div class="closer__subgroup">
        <p>{{post.bonus_block_2}}</p>
      </div>
    </div>
    <div class="closer__footer">
      <p>{{post.closer}}</p>
    </div>
    <div class="closer__form">
      {{'[contact-form-7 id="217" title="Franchise Form"]'|shortcodes}}
    </div>
  </div>
</section>
{% endblock %}
