{% extends "base.twig" %}

{% block header_classes %}light{% endblock %}

{% block content %}
<section class="hero skew">
  <div class="bg"></div>
  <div class="wrap">
    <div class="hero__group">
      <div class="hero__text">
        <img class="hero__logo" src="{{site.theme.link}}/dist/img/logo-full-light.svg" alt="Starbuds Logo" hidden>
        <h1 class="header-squeeze large">{{post.hero_heading}}</h1>
        <p>{{post.hero_subheading}}</p>
      </div>
      <div class="hero__graphics">
        <img class="hero__rating anim floating" src="{{site.theme.link}}/dist/img/rating-graphic-mind-body.svg" alt="Starbuds Rating System Preview">
        <img class="hero__label hero__label--pt anim floating" src="{{site.theme.link}}/dist/img/label-pt-preview.svg" alt="Starbuds Label Preview">
        <img class="hero__label hero__label--lh anim floating" src="{{site.theme.link}}/dist/img/label-lh-preview.svg" alt="Starbuds Label Preview">
        <img class="hero__label hero__label--nl anim floating" src="{{site.theme.link}}/dist/img/label-nl-preview.svg" alt="Starbuds Label Preview">
      </div>
    </div>
  </div>
  <img class="icon-arrow" src="{{site.theme.link}}/dist/img/arrow-down-light.svg" aria-hidden="true">
</section>
<section class="callout">
  <div class="wrap wrap--tall">
    <p class="xlarge callout__text">{{post.callout}}</p>
  </div>
</section>
<section class="benefits skew">
  <div class="bg"></div>
  <div class="wrap">
    <div class="benefits__header">
      <h2 class="xlarge benefits__heading">{{post.benefits_heading}}</h2>
      <p class="benefits__body">{{post.benefits_body}}</p>
    </div>
    <div class="benefits__group">
      <div class="benefits__bonus" hidden>
        <div class="benefits__bonus-block">
          <h3 class="large benefits__bonus-heading prefix-icon prefix-icon--light">{{post.benefit_bonus_1_heading}}</h3>
          <p class="benefits__bonus-body">{{post.get_field('benefit_bonus_1_body')}}</p>
        </div>
        <div class="benefits__bonus-block">
          <h3 class="large benefits__bonus-heading prefix-icon prefix-icon--light">{{post.benefit_bonus_2_heading}}</h3>
          <p class="benefits__bonus-body">{{post.get_field('benefit_bonus_2_body')}}</p>
        </div>
      </div>
      <div class="benefits__list-container">
        <ul class="benefit-list">
          {% for item in post.get_field('benefits') %}
          <li class="benefit text-anim">
            <span class="plus plus--alt">
              {{item.benefit}}
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="benefits__graphics">
        <img class="img-chem img-chem--1 floating anim"src="{{site.theme.link}}/dist/img/chem-structure.svg" alt="" aria-hidden="true">
        <img class="img-chem img-chem--2 floating anim"src="{{site.theme.link}}/dist/img/chem-structure.svg" alt="" aria-hidden="true">
      </div>
    </div>
  </div>
</section>
<section class="benefits-bonus skew pull-down">
  <div class="bg"></div>
  <div class="wrap">
    <div class="benefits-bonus__group">
      <div class="benefits-bonus__block">
        <img class="icon-logo" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Starbuds Icon" aria-hidden="true">
        <h3 class="large">{{post.benefit_bonus_1_heading}}</h3>
        <p>{{post.get_field('benefit_bonus_1_body')}}</p>
      </div>
      <div class="benefits-bonus__block">
        <img class="icon-logo" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Starbuds Icon" aria-hidden="true">
        <h3 class="large">{{post.benefit_bonus_2_heading}}</h3>
        <p>{{post.get_field('benefit_bonus_2_body')}}</p>
      </div>
    </div>
  </div>
</section>
<section class="transition">
  <div class="wrap">
    <div class="transition__group">
      <div class="transition__text">
        <p class="transition__top xlarge">{{post.transition_top}}</p>
        <p class="large transition__bottom xlarge text-anim">{{post.transition_bottom}}</p>
      </div>
      <div class="transition__graphics">
        <img class="transition__icon" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Starbuds Icon" aria-hidden="true">
      </div>
    </div>
  </div>
</section>
<section class="starbuds">
  <div class="wrap">
    <div class="starbuds__group-heading">
      <img class="starbuds__logo" src="{{site.theme.link}}/dist/img/logo-full-light.svg" alt="Starbuds Logo">
      <img class="starbuds__breakdown" src="{{site.theme.link}}/dist/img/breakdown.svg" alt="Starbuds Logo" aria-hidden="true" hidden >
    </div>
    <div class="starbuds__group-top">
      <div class="starbuds__subgroup">
        <h2 class="xlarge">{{post.about_heading}}</h2>
        <p>{{post.get_field('about_body')}}</p>
      </div>
      <div class="starbuds__subgroup starbuds__subgroup--points" hidden>
        {% for item in post.get_field('about_points') %}
            <span class="large prefix-icon prefix-icon--light starbuds__point text-anim">{{item.point}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="starbuds__group-bottom">
      <div class="starbuds__subgroup">
        <h3 class="large">{{post.about_bonus_1_heading}}</h3>
        <p>{{post.about_bonus_1_body}}</p>
      </div>
      <div class="starbuds__subgroup">
        <h3 class="large">{{post.about_bonus_2_heading}}</h3>
        <p>{{post.about_bonus_2_body}}</p>
      </div>
    </div>
  </div>
</section>
<section class="before-levels">
  <div class="wrap">
    <img class="icon-logo" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Starbuds Icon" aria-hidden="true">
    <p class="header-squeeze large">{{post.before_levels_heading}}</p>
  </div>
</section>
<section class="levels skew pull-down">
  <div class="bg"></div>
  <div class="wrap">
    <div class="levels-container">
    {% set count = 0 %}
    {% set line_count = post.get_field('levels') | length - 1 %}
    {% for level in post.get_field('levels') %}
      <div class="level text-anim">
        <div class="level__teardrops">
          {% for i in 0..count %}
            <img class="icon-teardrop" src="{{site.theme.link}}/dist/img/teardrop-accent.svg" alt="Starbuds Teardrop icon" aria-hidden="true">
          {% endfor %}
        </div>
        <h4 class="large level__title">{{level.title}}</h4>
        <p class="level__description">{{level.description}}</p>
        {% if count <= line_count - 1 %}
        <img class="line-vertical" src="{{site.theme.link}}/dist/img/line-vertical.svg" alt="Vertical Line" aria-hidden="true">
        {% endif %}
      </div>
      {% set count = count + 1 %}
    {% endfor %}
    </div>
  </div>
</section>
<section class="green-standard skew pull-down">
  <div class="bg"></div>
  <div class="wrap">
    <div class="green-standard__group">
      <div class="green-standard__text">
        <h2>{{post.green_standard_heading}}</h2>
        <p>{{post.get_field('green_standard_body')}}</p>
        <a class="btn-std" href="/green-standard">Learn More</a>
      </div>
      <div class="green-standard__graphics">
        <div class="gs-list-container" hidden>
          {% include 'partials/_gs-list.twig' with {'large': true, 'classes': 'floating-up-down anim'} %}
        </div>
        <div class="green-standard_list-icon-container green-standard_list-icon-container--1">
          <img class="green-standard_list-icon green-standard_list-icon--1 anim floating" src="{{site.theme.link}}/dist/img/gs-list-sm.svg" alt="Green Standard List Icon" aria-hidden="true">
        </div>
        <div class="green-standard_list-icon-container green-standard_list-icon-container--2" hidden>
          <img class="green-standard_list-icon green-standard_list-icon--2 anim floating" src="{{site.theme.link}}/dist/img/gs-list-sm.svg" alt="Green Standard List Icon" aria-hidden="true">
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
