{% extends "base.twig" %}

{% block head %}
  <script src="{{site.theme.link}}/static/js/handlebars.js" charset="utf-8"></script>
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyDw_n6nEurcCLugdZ3tmSP3x6D8yooz5zw&region=CA"></script>
{% endblock %}

{% block content %}
<section class="locator">
  <div class="wrap">
    <div class="bh-sl-container">
      <div class="locator__header layer-top">
        <div class="bh-sl-form-container">
      		<form id="bh-sl-user-location" method="post" action="#">
      			<div class="form-input">
      				<input type="text" id="bh-sl-address" name="bh-sl-address" placeholder="Location or Postal Code"/>
      			</div>
      			<button id="bh-sl-submit" type="submit" class="btn-std"><i class="fa fa-search"></i></button>
      		</form>
      	</div>
      </div>

      <div id="bh-sl-map" class="bh-sl-map"></div>

    	<div id="bh-sl-map-container" class="bh-sl-map-container layer-top">
        <div class="wrapper">
          <div class="bh-sl-loc-list">
      			<ul class="list"></ul>
      		</div>
        </div>
    	</div>
    </div>
  </div>
</section>

<script type="text/javascript">
  jQuery(function($) {
    $('#bh-sl-map-container').storeLocator({
      'infowindowTemplatePath'     : '{{site.theme.link}}/static/templates/standard/infowindow-description.html',
		  'listTemplatePath'           : '{{site.theme.link}}/static/templates/standard/location-list-description.html',
		  'KMLinfowindowTemplatePath'  : '{{site.theme.link}}/static/templates/kml/kml-infowindow-description.html',
		  'KMLlistTemplatePath'        : '{{site.theme.link}}/static/templates/kml/kml-location-list-description.html',
      'mapSettings'                : {
  			'mapTypeId'      : google.maps.MapTypeId.ROADMAP,
  			'zoom'           : 12,
        'scrollwheel' : false,
        'mapTypeControl' : false,
        'streetViewControl' : false,
        'styles' : [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
  		},
      'fullMapStartBlank': false,
      'lengthUnit' : 'km',
      'fullMapStart' : true,
      'autoGeocode': true,
      'slideMap': false,
      'dataRaw': {{location_data}},
      'debug': false
    });
  })
</script>

{% endblock %}
