{% extends "base.twig" %}

{% block content %}
	<section class="section">
		<div class="wrap">
			<h1 class="section__heading">{{post.title}}</h1>
			<div class="section__body">
				{{post.content}}
			</div>
		</div>
	</section>
{% endblock %}
