{% extends "base.twig" %}

{% block content %}
	<section class="hero">
		<div class="wrap">
			<img class="hero__logo" src="{{site.theme.link}}/dist/img/logo-full-dark.svg" alt="Starbuds Medicinal Cannabis Logo">
			<p class="hero__subheading">{{post.hero_subheading}}</p>
		</div>
		<div class="hero__graphics graphics-container">
			<img class="img-chem img-chem--1 breathe-up-down anim"src="{{site.theme.link}}/dist/img/chem-structure.svg" alt="" aria-hidden="true">
			<img class="img-chem img-chem--2 breathe-up-down anim"src="{{site.theme.link}}/dist/img/chem-structure.svg" alt="" aria-hidden="true">
		</div>
		<img class="icon-arrow" src="{{site.theme.link}}/dist/img/arrow-down-dark.svg" alt="Down arrow" aria-hidden="true">
	</section>
	<section class="about">
		<div class="wrap wrap--tall">
			<div class="about__group">
				<div class="about__text">
					<h2 class="header-squeeze">{{post.about_heading}}</h2>
					<p>{{post.about_body}}</p>
					<a class="btn-std" href="/about">Why us?</a>
				</div>
				<div class="about__graphics graphics-container">
					<img class="about__rating anim floating-up-down" src="{{site.theme.link}}/dist/img/rating-graphic-mind-body.svg" alt="Starbuds product rating system graphic">
					<img class="about__label about__label--pt anim floating-up-down" src="{{site.theme.link}}/dist/img/label-pt-preview.svg" alt="Starbuds Label Preview">
	        <img class="about__label about__label--lh anim floating-up-down" src="{{site.theme.link}}/dist/img/label-lh-preview.svg" alt="Starbuds Label Preview">
					<img class="about__label about__label--nl anim floating-up-down" src="{{site.theme.link}}/dist/img/label-nl-preview.svg" alt="Starbuds Label Preview">
				</div>
			</div>
		</div>
	</section>
	<section class="green-standard skew">
		<div class="bg"></div>
		<div class="wrap">
			<div class="green-standard__group">
				<div class="green-standard__graphics graphics-container">
					<div class="gs-list-container">
						{% include 'partials/_gs-list.twig' with {'large': true, 'classes': 'floating-up-down' } %}
					</div>
					<img class="icon-list-sm icon-list-sm--1 floating anim" src="{{site.theme.link}}/dist/img/gs-list-sm.svg" alt="Green Standard mini" aria-hidden="true">
					<img class="icon-list-sm icon-list-sm--2 floating anim" src="{{site.theme.link}}/dist/img/gs-list-sm.svg" alt="Green Standard mini" aria-hidden="true">
					<img class="icon-list-sm icon-list-sm--3 floating anim" src="{{site.theme.link}}/dist/img/gs-list-sm.svg" alt="Green Standard mini" aria-hidden="true">
					<img class="icon-list-sm icon-list-sm--below floating anim" src="{{site.theme.link}}/dist/img/gs-list-sm.svg" alt="Green Standard mini" aria-hidden="true">
				</div>
				<div class="green-standard__text">
					<h2>{{post.green_standard_heading}}</h2>
					{% include 'partials/_gs-list.twig' %}
					<p>{{post.green_standard_body}}</p>
					<a class="btn-std" href="/green-standard">How it works.</a>
				</div>
			</div>
		</div>
	</section>
	<section class="franchise">
		<div class="wrap wrap--tall">
			<div class="franchise__group">
				<div class="franchise__text">
					<h2>{{post.franchise_heading}}</h2>
					<p>{{post.franchise_body}}</p>
					<a class="btn-std" href="/franchise">Join us.</a>
				</div>
				<div class="franchise__graphics graphics-container">
					<div class="franchise__map-bg"></div>
					<img class="franchise__map-image anim floating-up-down" src="{{site.theme.link}}/dist/img/map.svg" alt="Map of Canada" aria-hidden="true">
				</div>
			</div>
		</div>

	</section>
{% endblock %}
