{% extends "base.twig" %}

{% block content %}
<section class="hero skew">
  <div class="bg"></div>
  <div class="wrap">
    <div class="hero__group">
      <div class="hero__text">
        <img class="hero__logo" src="{{site.theme.link}}/dist/img/logo-full-light.svg" alt="Starbuds Logo" hidden>
        <h1 class="header-squeeze large">{{post.hero_heading}}</h1>
        <p>{{post.hero_subheading}}</p>
      </div>
      <div class="hero__graphics">
        <div class="gs-list-container" hidden>
          {% include 'partials/_gs-list.twig' with {'large': true, 'classes': 'floating-up-down anim'} %}
        </div>
        <div class="hero__list-icon-container hero__list-icon-container--1">
          <img class="hero__list-icon hero__list-icon--1 icon-list-sm anim floating" src="{{site.theme.link}}/dist/img/gs-list-sm.svg" alt="Starbuds Green Standard List Icon" aria-hidden="true">
        </div>
        <div class="hero__list-icon-container hero__list-icon-container--2">
          <img class="hero__list-icon hero__list-icon--2 icon-list-sm anim floating" src="{{site.theme.link}}/dist/img/gs-list-sm.svg" alt="Starbuds Green Standard List Icon" aria-hidden="true">
        </div>
        <div class="hero__list-icon-container hero__list-icon-container--3">
          <img class="hero__list-icon hero__list-icon--3 icon-list-sm anim floating" src="{{site.theme.link}}/dist/img/gs-list-sm.svg" alt="Starbuds Green Standard List Icon" aria-hidden="true">
        </div>

      </div>
    </div>
  </div>
  <img class="icon-arrow" src="{{site.theme.link}}/dist/img/arrow-down-light.svg" aria-hidden="true">
</section>
<section class="status-quo skew">
  <div class="bg"></div>
  <div class="wrap">
    <div class="status-quo__header">
      <h2 class="xlarge status-quo__heading">{{post.status_quo_heading}}</h2>
      <p class="status-quo__body">{{post.status_quo_block_1}}</p>
    </div>
    <div class="status-quo__reasons-container">
      {% for item in post.get_field('status_quo_reasons') %}
        <div class="reason">
          <div class="wrap">
            <div class="reason__number-container">
              <div class="reason__number" hidden>
                {{loop.index}}
              </div>
            </div>
            <p class="reason__description">{{item.reason}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="status-quo__footer">
      <p>{{post.status_quo_block_2}}</p>
    </div>
  </div>
</section>
<section class="community skew pull-down">
  <div class="bg"></div>
  <div class="wrap">
    <div class="community__group">
      <div class="community__text">
        <h2 class="community__heading">{{post.cannabis_and_community_heading}}</h2>
        <p class="community__body">{{post.cannabis_and_community_body}}</p>
      </div>
      <div class="community__graphics">
        <div class="gs-list-container gs-list-container--mobile">
          {% include 'partials/_gs-list.twig' %}
        </div>
        <div class="gs-list-container" hidden>
          {% include 'partials/_gs-list.twig' with {'large': true, 'classes': 'floating-up-down anim'} %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gs">
  <div class="wrap">
    <div class="gs__group">
      <div class="gs__text">
        <h1 class="large gs__heading">{{post.green_standard_heading}}</h1>
        <p class="gs__body">{{post.green_standard_body}}</p>
        <div class="reasons">
          {% for item in post.get_field('green_standard_reasons') %}
          <div class="reason">
            <img class="icon-logo" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Starbuds icon" aria-hidden="true">
            <p>{{item.reason}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="gs__graphics">
        <img class="gs__graphic" src="{{site.theme.link}}/dist/img/logo-icon-dark.svg" alt="Starbuds icon" aria-hidden="true" hidden>
      </div>
    </div>
  </div>
</section>
<section class="callout skew pull-down">
  <div class="bg"></div>
  <div class="wrap">
    <p class="callout__body">{{post.standards_callout}}</p>
  </div>
</section>
<section class="sup-prod skew pull-down">
  <div class="bg"></div>
  <div class="wrap">
    <div class="sup-prod__group">
      <div class="sup-prod__subgroup">
        <h2>{{post.suppliers_heading}}</h2>
        <p>{{post.suppliers_body}}</p>
      </div>
      <div class="sup-prod__subgroup">
        <h2>{{post.products_heading}}</h2>
        <p>{{post.products_body}}</p>
      </div>
    </div>
  </div>
</section>
<section class="stores skew">
  <div class="bg"></div>
  <div class="wrap">
    <div class="stores__header">
      <h2 class="header-squeeze xlarge">{{post.stores_heading}}</h2>
      <p>{{post.stores_body}}</p>
    </div>
    <div class="stores__graphics">
      <img class="img-chem img-chem--1 floating anim"src="{{site.theme.link}}/dist/img/chem-structure.svg" alt="" aria-hidden="true" hidden>
    </div>
    <div class="rules">
      {% for item in post.get_field('store_rules') %}
        <div class="rule">
          <img class="icon-logo" src="{{site.theme.link}}/dist/img/logo-icon-light.svg" alt="Starbuds icon">
          <p class="rule__text">{{item.rule}}</p>
        </div>
      {% endfor %}
    </div>
    <div class="more">
      <h2 class="more__heading">{{post.learn_more_heading}}</h2>
      <p class="more__subheading">{{post.learn_more_subheading}}</p>
      <a class="btn-std more__link" href="/wp-content/uploads/Green-Standard-Web-1.0.pdf" target="_blank">Download</a>
    </div>
  </div>
</section>
{% endblock %}
