{% extends "base.twig" %}

{% block content %}
  <div class="back">
    <a class="back__link" href="/locations">Back to Locations</a>
  </div>
	<section class="location">
		<div class="wrap">
      <h1 class="location__name">{{post.title}}</h1>
      {% if post.store_open == false %}
        <p class="location__coming-soon">Coming Soon!</p>
      {% endif %}
      <div class="location__map" id="map"></div>
      <div class="location__group">
        {% if post.description %}
        <div class="location__description">
          <h3 class="location__description-heading">About This Location</h3>
          {{post.get_field('description')}}
        </div>
        {% endif %}
        <div class="location__info">
          {% if post.address or post.city or post.state or post.country or post.postal or post.phone or post.fax %}
          <div class="location__details">
            <h3>Details</h3>
            {% if post.address %}
            <p class="location__address">{% if post.address2 %}{{post.address2}} - {% endif %}{{post.address}}</p>
            {% endif %}
            <p class="location__address2">
            {% if post.city %}
            {{post.city}}
            {% endif %}
            {% if post.state %}
            {{post.state}}
            {% endif %}
            {% if post.country %}
            {{post.country}}
            {% endif %}
            {% if post.postal %}
            {{post.postal}}
            {% endif %}
            </p>
            {% if post.phone %}
            <p class="location__phone">{{post.phone}}</p>
            {% endif %}
            {% if post.fax %}
            <p class="location__fax">{{post.fax}}</p>
            {% endif %}
            {% if post.email %}
            <p class="location__email">
              <a href="mailto:{{post.email}}">
                {{post.email}}
              </a>
            </p>
            {% endif %}
          </div>
          {% endif %}
          {% if post.monday_open %}
          <div class="location__hours">
            <h3>Hours</h3>
            <p>Monday: <span class="location__time-wrapper">{% if post.monday_closed_all_day != true %}{{post.monday_open | date("g:i a")}} - {{post.monday_closed | date("g:i a")}}{% else %}Closed{% endif %}</span></p>
            <p>Tuesday: <span class="location__time-wrapper">{% if post.tuesday_closed_all_day != true %}{{post.tuesday_open | date("g:i a")}} - {{post.tuesday_closed | date("g:i a")}}{% else %}Closed{% endif %}</span></p>
            <p>Wednesday: <span class="location__time-wrapper">{% if post.wednesday_closed_all_day != true %}{{post.wednesday_open | date("g:i a")}} - {{post.wednesday_closed | date("g:i a")}}{% else %}Closed{% endif %}</span></p>
            <p>Thursday: <span class="location__time-wrapper">{% if post.thursday_closed_all_day != true %}{{post.thursday_open | date("g:i a")}} - {{post.thursday_closed | date("g:i a")}}{% else %}Closed{% endif %}</span></p>
            <p>Friday: <span class="location__time-wrapper">{% if post.friday_closed_all_day != true %}{{post.friday_open | date("g:i a")}} - {{post.friday_closed | date("g:i a")}}{% else %}Closed{% endif %}</span></p>
            <p>Saturday: <span class="location__time-wrapper">{% if post.saturday_closed_all_day != true %}{{post.saturday_open | date("g:i a")}} - {{post.saturday_closed | date("g:i a")}}{% else %}Closed{% endif %}</span></p>
            <p>Sunday: <span class="location__time-wrapper">{% if post.sunday_closed_all_day != true %}{{post.sunday_open | date("g:i a")}} - {{post.sunday_closed | date("g:i a")}}{% else %}Closed{% endif %}</span></p>
          </div>
          {% endif %}
        </div>
      </div>
		</div>
	</section>
  <script>
      function initMap() {
        var myLatLng = {lat: {{post.lat}}, lng: {{post.lng}}};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw_n6nEurcCLugdZ3tmSP3x6D8yooz5zw&callback=initMap">
    </script>
{% endblock %}
